{% extends "registration/base.html" %}

{% block title %} Login {% endblock %}

{% block content %}
<div class="container">
	<section id="content">
		
		<form action="." method="post">
			{% csrf_token %}
			<h1>Login Form</h1>
			{{ form.username }}
			{{ form.password }}
			<!-- <input type="hidden" name="next" value="{{ next }}" /> -->
			<div>
				<input type="submit" value="Log in" />
				<a href="{% url 'account:password_reset' %}">Lost your password?</a>
				<a href="#">Register</a>
			</div>
		</form><!-- form -->
		{% if form.errors %}
			<p class="text-warning">Your username and password didn't match.Please try again.</p>
		{% else %}
		<!-- <p>Please, use the following form to log-in:</p> -->
		{% endif %}
	</section><!-- content -->
</div><!-- container -->
{% endblock %}

