{% extends "registration/base.html" %}

{% block title %}Change Your Password{% endblock%}

{% block content %}
<div class="container">
	<section id="content">
		
		<form action="." method="post">
			{% csrf_token %}
			<h1>Password Change</h1>
			{{ form }}

			<div class="center-it">
				<input type="submit" value="Change" />
			</div>
		</form><!-- form -->
	</section><!-- content -->
</div><!-- container -->
{% endblock %}

{% block css %}
   <style>
   	.center-it{
   		display: flex;
		justify-content: center;
   		align-items: center;
   	}
   </style>
{% endblock %}

