{% extends "registration/base.html" %}
{% block title %}Reset your password{% endblock %}


{% block content %}

<div class="container">
	<section id="content">
		    <h1>Forgot your password?</h1>
			<p>Enter you email-address to obtain a new password</p>

			<form action="." method="POST">
				<div>{{form}}</div>
				<div class="center-it">
					<input type="submit" value="Send e-mail">
				</div>
				{% csrf_token %}
			</form>	
	</section>
</div>
{% endblock %}

{% block css %}
   <style>
   	.center-it{
   		display: flex;
		justify-content: center;
   		align-items: center;
   	}
   </style>
{% endblock %}