{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Video Membership</title>
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.3/sketchy/bootstrap.min.css"> -->
	<link rel="stylesheet" href="https://bootswatch.com/4/materia/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="{% static 'css/main.css' %}"> -->
	<style>
		body{
			background-image: linear-gradient(to bottom right, #b6dfb2, #8bd5d9);
		}
	</style>


</head>
<body>
	{% include 'courses/messages.html' %}
	<br>
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/">Home</a></li>
				<li class="breadcrumb-item"><a href="/profile">Profile</a></li>
				<li class="breadcrumb-item"><a href="/courses">Courses</a></li>
				{% block post_detail_link %}
				    
				{% endblock %}

				{% if not request.user.is_authenticated %}
					<li class="ml-auto"><a href="/register">Register</a></li>
					<li>&nbsp;<small>/</small>&nbsp;<a href="/login">Login</a></li>
				{% else %}
					<li class="ml-auto"><a href="/memberships">Memberships</a></li>
				{% endif %}
			</ol>
		</nav>
	</div>
	<div class="container">
		{% block content %}
		{% endblock content %}
	</div>

	<!-- Footer -->
	{% block footer %}
	    
	{% endblock footer %}
	<!-- Footer Ends Here -->


	<!-- Bootstrap Minified JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>