{% extends 'courses/base.html' %}

{% block content %}
	<h1>Course List View Page</h1>
  <div class="row">  
  	{% for object in object_list %}
  		<div class="col mb-3 mr-3 ">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://source.unsplash.com/1600x900/?{{object.title}},coding,programming" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ object.title }}</h5>
              <p class="card-text">{{ object.description | truncatechars:100 }}</p>
              <a href="{{ object.get_absolute_url }}" class="btn btn-primary">Detail Page</a>
            </div>
          </div>  
      </div>
  	{% endfor %}
	</div>

{% endblock %}





{% block footer %}

<div class="container">
	<footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <!-- <img class="mb-2" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24"> -->
            <h3>Programming.com</h3>
            <small class="d-block mb-3 text-muted">&copy; 2018-2020</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
	</footer>
</div>



{% endblock %}
